.yeseva-one-regular {
    font-family: "Yeseva One";
    font-weight: 400;
    font-style: normal;
  }

.t3{
    color:rgb(42, 172, 129)
}

body{
    background-color: rgb(4, 24, 33);
}

h1{
    color: white;
    font-size: 250%;
}

.bloc1{
    padding-left: 100px;
}
   
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;
    justify-content: space-around;
}

#div2 {
    padding: 8px;
    text-align: right;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
}



.point{
    color: rgb(42, 172, 129);
}



.montserrat-.auteur {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70%;
    color: rgb(102, 115, 121);
}

.image{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.auteur{
    color: white;
    font-size: 130%;
}

.trait {
    border: none;
    height: 4px;
    background-color: rgb(66, 84, 94);
    width: 100%;
}


.bloc2 li {
    display: inline-block;
    color: white;
    font-family: Arial, sans-serif; 
    font-size: 45%;
    padding-left: 130px;
}


footer{
    text-align: center;
    font-size: 80%;
}

.pied{
    font-size: 60%;
}

