.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }

.t3{
    color:rgb(42, 172, 129)
}

body{
    background-color: rgb(4, 24, 33);
}

h1{
    color: white;
    font-size: 250%;
}

.bloc1{
    padding-left: 100px;
}
   
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;
}

i{
    margin-left: 15px;
    align-content: center;
    justify-self: end;
    display: inline-flex;
}

p{
    color: rgb(102, 115, 121);
}

.point{
    color: rgb(42, 172, 129);
}



.montserrat-.auteur {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70%;
}

.image{
    padding-left: 100px;
}

.auteur{
    color: white;
    font-size: 130%;
}

hr{
    color: rgb(66, 84, 94);
}

.bloc2 li{
    display: inline;
    color: white;
    font-family: arial;
    font-size: 45%;
    padding-left: 130px;
    width: 50%;

}

footer{
    text-align: center;
    font-size: 80%;
}

.pied{
    font-size: 60%;
}

